<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vpplab.flow.domain.cmn.CmnDao">
    <select id="getLogin" parameterType="hashMap" resultType="hashMap">
        SELECT
            A.name AS 이름
             ,A.department AS  소속
             ,A.job_title AS 직위
             ,A.phone AS 전화번호
             ,A.email AS 이메일
             ,A.login_id AS 로그인ID
             ,A.login_password AS 로그인암호
             ,A.authorization_id AS 권한관리ID
             ,B.name AS 권한관리명
             ,A.sign_up_at AS 가입일시
             ,C.name AS 중개사업자명
             ,C.phone AS 대표전화번호
             ,C.email AS 대표이메일
             ,A.agency_id AS 중개사업자ID
             ,A.id AS 사용자식별자
        FROM user A
                 LEFT OUTER JOIN authorization B ON A.authorization_id = B.id
                 LEFT OUTER JOIN agency C ON A.agency_id = C.id
        WHERE 1=1
        AND  A.login_id = #{로그인ID}
    </select>
    <select id="getMenuMng" parameterType="hashMap" resultType="hashMap">
        SELECT
              D.id AS 메뉴ID
             ,D.category AS 1차메뉴
             ,D.sub_category AS 2차메뉴
             ,D.url AS URL주소
             ,D.view_name AS 화면이름
             ,D.is_view AS 화면여부
             ,C.has_modify_auth AS 수정권한여부
             ,C.has_read_auth AS 읽기권한여부
        FROM user A
                 INNER JOIN authorization B ON A.authorization_id = B.id AND A.agency_id = B.agency_id
                 INNER JOIN auth_menu_mapping C ON B.id = C.auth_id AND C.has_read_auth ='1'
                 LEFT OUTER JOIN menu D ON C.menu_id = D.id
        WHERE 1=1
          AND A.login_id = #{로그인ID}
        ORDER BY A.id
    </select>
    <select id="getMyLoginInfo" parameterType="hashMap" resultType="hashMap">
        SELECT
              A.name AS 이름
             ,A.phone AS 전화번호
             ,A.email AS 이메일
             ,A.login_id AS 로그인ID
        FROM user A
        WHERE A.login_id = #{로그인ID}
          AND  A.email = #{이메일}
    </select>
    <update id="setMyPswd"  parameterType="hashMap" >
        UPDATE user SET
            login_password = #{로그인비밀번호}
        WHERE login_id = #{로그인ID}
          AND  email = #{이메일}
    </update>

    <select id="getMsg" parameterType="hashMap" resultType="string">
        SELECT
            A.message AS msg
        FROM message_template A
        WHERE A.code = #{코드}
    </select>

    <select id="getAdminCode"  resultType="hashMap">
        SELECT
            category AS 카테고리
            ,code AS 코드
            ,name AS 코드명
        FROM admin_common_code
        ORDER BY category, sequence
    </select>

</mapper>