<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vpplab.flow.domain.cmn.CmnDao">
    <select id="getLogin" parameterType="hashMap" resultType="hashMap">
        SELECT
            A.name AS 이름
             ,A.department AS  소속
             ,A.job_title AS 직위
             ,A.phone AS 전화번호
             ,A.email AS 이메일
             ,A.login_id AS 로그인ID
             ,A.login_password AS 로그인암호
             ,A.authorization_id AS 권한관리ID
             ,B.name AS 권한관리명
             ,A.sign_up_at AS 가입일시
        FROM user A
            LEFT OUTER JOIN authorization B ON A.authorization_id = B.id
        WHERE 1=1
        AND  A.login_id = #{로그인ID}
    </select>
    <select id="getMenuMng" parameterType="hashMap" resultType="hashMap">
        SELECT
              D.id AS 메뉴ID
             ,D.category AS 1차메뉴
             ,D.sub_category AS 2차메뉴
             ,D.url AS URL주소
             ,D.view_name AS 화면이름
             ,D.is_view AS 화면여부
             ,B.has_modify_auth AS 수정권한여부
        FROM user A
                 INNER JOIN authorization B ON A.authorization_id = B.id AND B.has_read_auth = '1'
                 INNER JOIN auth_menu_mapping C ON B.id = C.auth_id
                 LEFT OUTER JOIN menu D ON C.menu_id = D.id
        WHERE 1=1
          AND A.login_id = #{로그인ID}
        ORDER BY A.id
    </select>
    <select id="getMyLoginInfo" parameterType="hashMap" resultType="hashMap">
        SELECT
              A.name AS 이름
             ,A.phone AS 전화번호
             ,A.email AS 이메일
             ,A.login_id AS 로그인ID
        FROM user A
        WHERE A.phone = #{전화번호}
          AND  A.email = #{이메일}
    </select>
    <update id="setMyPswd"  parameterType="hashMap" >
        UPDATE user SET
            login_password = #{로그인비밀번호}
        WHERE phone = #{전화번호}
          AND  email = #{이메일}
    </update>



</mapper>