<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vpplab.flow.domain.rsr.RsrDao">
    <select id="getClcRsrList" parameterType="hashMap" resultType="hashMap">
        SELECT
            CC.집합자원ID
            ,CC.중개사업자ID
            ,CC.집합자원그룹명
            ,CC.집합자원구분
            ,CC.운영상태
            ,CC.신청유형
            ,CC.처리상태
            ,CC.구성수
            ,CC.자원용량
            ,CC.PVWT용량
            ,CC.ESS용량
            ,CC.평균오차율
            ,CC.오차율평가
            ,CC.거래가능기간
            ,CC.신청일자
            FROM(SELECT
                    A.id AS 집합자원ID
                    ,A.agency_id AS 중개사업자ID
                    ,A.name AS 집합자원그룹명
                    ,A.type AS 집합자원구분
                    ,A.status AS 운영상태
                    ,A.apply_type AS 신청유형
                    ,A.apply_status AS 처리상태
                    ,B.resource_cnt AS 구성수
                    ,B.capacity AS 자원용량
                    ,B.capacityPvWt AS PVWT용량
                    ,B.ess_capacity AS ESS용량
                    ,C.error_rate AS 평균오차율
                    ,(CASE WHEN C.error_rate >= 0 AND C.error_rate     <![CDATA[ <= ]]> 6 THEN '좋음'
                        WHEN C.error_rate > 6 AND C.error_rate     <![CDATA[ <= ]]> 8 THEN '보통'
                        WHEN C.error_rate > 8 THEN '나쁨' END) AS 오차율평가
                    ,'' AS 거래가능기간
                    ,A.created_at AS 신청일자
                FROM resource_set A
                LEFT OUTER JOIN ( SELECT
                                    AA.resource_set_id
                                    ,COUNT(resource_id) AS  resource_cnt
                                    ,(SUM(BB.capacity)+SUM(ess_capacity))  AS capacity
                                    ,CASE WHEN BB.facility_type ='01' OR BB.facility_type = '02' THEN SUM(BB.capacity) END AS capacityPvWt
                                    ,SUM(BB.ess_capacity) AS ess_capacity
                                FROM resource_set_list AA
                                LEFT OUTER JOIN resource BB ON AA.resource_id = BB.id  GROUP BY AA.resource_set_id) B ON A.id = B.resource_set_id
                LEFT OUTER JOIN forecast_by_resource_set C ON A.id = C.resource_set_id
                ) CC
        WHERE 1=1
        AND CC.중개사업자ID = #{중개사업자ID}
        <if test='id != null and id !=""'>
            AND CC.집합자원ID = #{id}
        </if>
        <if test='type != null and type !=""'>
            AND CC.집합자원구분 = #{type}
        </if>
        <if test='status != null and status !=""'>
            AND CC.운영상태 = #{status}
        </if>
        <if test='name != null and name !=""'>
            AND CC.집합자원그룹명 LIKE CONCAT('%',#{name},'%')
        </if>
        <if test='apply_type != null and apply_type !=""'>
            AND CC.신청유형 = #{apply_type}
        </if>
        <if test='apply_status != null and apply_status !=""'>
            AND CC.처리상태 = #{apply_status}
        </if>
        <if test='error_rate_cd != null and error_rate_cd !=""'>
            <if test='error_rate_cd !="01"'>
                AND CC.오차율평가 >= 0
                AND CC.오차율평가 <![CDATA[ <= ]]> 6
            </if>
            <if test='error_rate_cd !="02"'>
                AND CC.오차율평가 > 6
                AND CC.오차율평가 <![CDATA[ <= ]]> 8
            </if>
            <if test='error_rate_cd !="03"'>
                AND CC.오차율평가 > 8
            </if>
        </if>
        ORDER BY CC.집합자원ID
        LIMIT #{페이지번호},#{행갯수}
    </select>
    <select id="getClcRsrListCnt" parameterType="hashMap" resultType="int">
        SELECT
          COUNT(*) AS cnt
        FROM(SELECT
                A.id AS 집합자원ID
                ,A.agency_id AS 중개사업자ID
                ,A.name AS 집합자원그룹명
                ,A.type AS 집합자원구분
                ,A.status AS 운영상태
                ,A.apply_type AS 신청유형
                ,A.apply_status AS 처리상태
                ,B.resource_cnt AS 구성수
                ,B.capacity AS 자원용량
                ,B.capacityPvWt AS PVWT용량
                ,B.ess_capacity AS ESS용량
                ,C.error_rate AS 평균오차율
                ,(CASE WHEN C.error_rate >= 0 AND C.error_rate     <![CDATA[ <= ]]> 6 THEN '좋음'
                WHEN C.error_rate > 6 AND C.error_rate     <![CDATA[ <= ]]> 8 THEN '보통'
                WHEN C.error_rate > 8 THEN '나쁨' END) AS 오차율평가
                ,'' AS 거래가능기간
                ,A.created_at AS 신청일자
            FROM resource_set A
                LEFT OUTER JOIN ( SELECT
                                    AA.resource_set_id
                                    ,COUNT(resource_id) AS  resource_cnt
                                    ,(SUM(BB.capacity)+SUM(ess_capacity))  AS capacity
                                    ,CASE WHEN BB.facility_type ='01' OR BB.facility_type = '02' THEN SUM(BB.capacity) END AS capacityPvWt
                                    ,SUM(BB.ess_capacity) AS ess_capacity
                                FROM resource_set_list AA
                                LEFT OUTER JOIN resource BB ON AA.resource_id = BB.id  GROUP BY AA.resource_set_id) B ON A.id = B.resource_set_id
                LEFT OUTER JOIN forecast_by_resource_set C ON A.id = C.resource_set_id
            ) CC
        WHERE 1=1
        AND CC.중개사업자ID = #{중개사업자ID}
        <if test='id != null and id !=""'>
            AND CC.집합자원ID = #{id}
        </if>
        <if test='type != null and type !=""'>
            AND CC.집합자원구분 = #{type}
        </if>
        <if test='status != null and status !=""'>
            AND CC.운영상태 = #{status}
        </if>
        <if test='name != null and name !=""'>
            AND CC.집합자원그룹명 LIKE CONCAT('%',#{name},'%')
        </if>
        <if test='apply_type != null and apply_type !=""'>
            AND CC.신청유형 = #{apply_type}
        </if>
        <if test='apply_status != null and apply_status !=""'>
            AND CC.처리상태 = #{apply_status}
        </if>
        <if test='error_rate_cd != null and error_rate_cd !=""'>
            <if test='error_rate_cd !="01"'>
                AND CC.오차율평가 >= 0
                AND CC.오차율평가 <![CDATA[ <= ]]> 6
            </if>
            <if test='error_rate_cd !="02"'>
                AND CC.오차율평가 > 6
                AND CC.오차율평가 <![CDATA[ <= ]]> 8
            </if>
            <if test='error_rate_cd !="03"'>
                AND CC.오차율평가 > 8
            </if>
        </if>
    </select>
    <insert id="setClcRsr" parameterType="hashMap">
        INSERT INTO resource_set(
             agency_id
            ,name
            ,status
            ,type
            ,apply_type
            ,apply_status
            ,created_at
            ,created_by
        )VALUES(
           #{중개사업자ID}
           ,#{집합자원그룹명}
           ,#{집합자원구분}
           ,#{운영상태}
           ,#{신청유형}
           ,#{처리상태}
           ,NOW()
           ,#{작성자}
       )
    </insert>
<select id="getClcRsrDtl" parameterType="hashMap" resultType="hashMap" >
    SELECT
        A.agency_id AS 중개사업자ID
         ,A.name AS 집합자원그룹명
         ,A.status AS 운영상태
         ,A.apply_type AS 신청유형
         ,A.apply_status AS 처리상태
         ,B.error_rate AS 평균오차율
         ,A.created_at AS 신청일시
    FROM resource_set A
             LEFT OUTER JOIN forecast_by_resource_set B ON A.id = B.resource_set_id
    WHERE A.id= #{집합자원ID}
</select>
<select id="getClcRsrMemoList" parameterType="hashMap" resultType="hashMap" >
    SELECT
        id AS 이벤트ID
        ,type AS 요청구분
        ,requested_at AS 요청일시
        ,requested_name AS 요청자이름
        ,requested_phone AS 요청자전화번호
        ,requested_memo AS 요청자이름
        ,approved_at AS 승인일시
        ,approved_name AS 승인자이름
        ,approved_phone AS 승인자전화번호
        ,approved_memo AS 승인자메모
    FROM event
    WHERE resource_id = #{집합자원ID}
    ORDER BY approved_at
</select>
<update id="setMemo" parameterType="hashMap"  >
    UPDATE event SET
        approved_memo = #{승인자메모}
 WHERE id = #{이벤트ID}
</update>
<update id="setMemoDel" parameterType="hashMap"  >
    DELETE FROM event WHERE  id = #{이벤트ID}
</update>

<select id="tab1List" parameterType="hashMap" resultType="hashMap" >
    SELECT
        B.base_date AS 측정일자
         ,B.base_time AS 측정시간
         ,B.forecast_amount_1st AS 1차예측
         ,B.forecast_amount_2nd AS 2차예측
         ,(B.forecast_amount_1st+B.forecast_amount_2nd) /2 AS 예측평균
         ,B.generation_amount AS 발전값
         ,B.resource_capacity AS 총설비용량
         ,B.error_rate AS 오차율
    FROM forecast_by_resource_set B
    WHERE B.resource_set_id = #{집합자원ID}
    ORDER BY B.base_date,B.base_time
</select>
<select id="tab2List" parameterType="hashMap" resultType="hashMap" >
    SELECT
        B.id AS 자원ID
         ,B.facility_type AS 설비구분
         ,B.status AS 발전상태
         ,B.capacity AS 설비용량
         ,B.ess_status AS ESS상태
         ,B.ess_capacity AS ESS용량
         ,B.name AS 발전자원명
         ,C.avg_error_rate AS 평균오차율
         ,C.max_error_rate AS 최대오차율
         ,C.min_error_rate AS 최소오차율
         ,D.contract_end_date AS 계약종료일시
         ,B.created_at AS 자원추가일시
    FROM resource_set_list A
             INNER JOIN resource B ON  A.resource_id = B.id
             LEFT OUTER JOIN ( SELECT
                                   resource_id
                                    ,(SUM(error_rate) / COUNT(error_rate)) *100  AS avg_error_rate
                                    ,MAX(error_rate) AS max_error_rate
                                    ,MIN(error_rate) AS min_error_rate
                               FROM forecast_by_resource GROUP BY resource_id
                               ) C ON  B.id = C.resource_id
             LEFT OUTER JOIN resource_meta D ON A.resource_id = D.resource_id
    WHERE A.resource_set_id = #{집합자원ID}
    ORDER BY B.id
    LIMIT #{페이지번호},#{행갯수}
</select>
    <select id="tab2ListCnt" parameterType="hashMap" resultType="int" >
        SELECT
         COUNT(*) AS CNT
        FROM resource_set_list A
                 INNER JOIN resource B ON  A.resource_id = B.id
                 LEFT OUTER JOIN ( SELECT
                                       resource_id
                                        ,(SUM(error_rate) / COUNT(error_rate)) *100  AS avg_error_rate
                                        ,MAX(error_rate) AS max_error_rate
                                        ,MIN(error_rate) AS min_error_rate
                                   FROM forecast_by_resource GROUP BY resource_id
                                   ) C ON  B.id = C.resource_id
                 LEFT OUTER JOIN resource_meta D ON A.resource_id = D.resource_id
        WHERE A.resource_set_id = #{집합자원ID}
    </select>
    <select id="getRsrInfo" parameterType="hashMap" resultType="hashMap" >
        SELECT
            COUNT(B.error_rate) AS 집합자원갯수
            ,SUM(B.resource_capacity) AS 집합지원총용량
            ,(CASE WHEN ((SUM(B.error_rate) / COUNT(B.error_rate)) *100) >= 0 AND ((SUM(B.error_rate) / COUNT(B.error_rate)) *100)  <![CDATA[ <= ]]> 6 THEN '좋음'
            WHEN ((SUM(B.error_rate) / COUNT(B.error_rate)) *100) > 6 AND ((SUM(B.error_rate) / COUNT(B.error_rate)) *100) <![CDATA[ <= ]]> 8 THEN '보통'
            WHEN ((SUM(B.error_rate) / COUNT(B.error_rate)) *100) > 8 THEN '나쁨' END) AS 오차율평가
            ,(SUM(B.resource_capacity) / COUNT(B.resource_capacity)) *100 AS 가동율
            ,(SUM(B.error_rate) / COUNT(B.error_rate)) *100  AS 평균오차율
            ,MAX(B.error_rate) AS 최대오차율
            ,MIN(B.error_rate) AS 최소오차율
        FROM forecast_by_resource_set B
        WHERE B.resource_set_id = #{집합자원ID}
        GROUP BY B.resource_set_id
    </select>

    <update id="setRsrDel" parameterType="hashMap"  >
        DELETE FROM resource_set_list WHERE  resource_set_id = #{집합자원ID} AND resource_id = #{자원ID}
    </update>
</mapper>