<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vpplab.flow.domain.rsr.RsrDao">
    <select id="getClcRsrList" parameterType="hashMap" resultType="hashMap">
        SELECT
            CC.집합자원ID
            ,CC.중개사업자ID
            ,CC.집합자원그룹명
            ,CC.집합자원구분
            ,CC.운영상태
            ,CC.신청유형
            ,CC.처리상태
            ,CC.구성수
            ,CC.자원용량
            ,CC.PVWT용량
            ,CC.ESS용량
            ,CC.평균오차율
            ,CC.오차율평가
            ,CC.거래가능기간
            ,CC.신청일자
            FROM(SELECT
                    A.id AS 집합자원ID
                    ,A.agency_id AS 중개사업자ID
                    ,A.name AS 집합자원그룹명
                    ,A.type AS 집합자원구분
                    ,A.status AS 운영상태
                    ,A.apply_type AS 신청유형
                    ,A.apply_status AS 처리상태
                    ,B.resource_cnt AS 구성수
                    ,B.capacity AS 자원용량
                    ,B.capacityPvWt AS PVWT용량
                    ,B.ess_capacity AS ESS용량
                    ,C.error_rate AS 평균오차율
                    ,'' AS 오차율평가
                    ,'' AS 거래가능기간
                    ,A.created_at AS 신청일자
                FROM resource_set A
                LEFT OUTER JOIN ( SELECT
                                    AA.resource_set_id
                                    ,COUNT(resource_id) AS  resource_cnt
                                    ,(SUM(BB.capacity)+SUM(ess_capacity))  AS capacity
                                    ,CASE WHEN BB.facility_type ='01' OR BB.facility_type = '02' THEN SUM(BB.capacity) END AS capacityPvWt
                                    ,SUM(BB.ess_capacity) AS ess_capacity
                                FROM resource_set_list AA
                                LEFT OUTER JOIN resource BB ON AA.resource_id = BB.id  GROUP BY AA.resource_set_id) B ON A.id = B.resource_set_id
                LEFT OUTER JOIN forecast_by_resource_set C ON A.id = C.resource_set_id
                ) CC
        WHERE 1=1
        AND CC.중개사업자ID = #{중개사업자ID}
        <if test="'집합자원ID' != null and '집합자원ID' !=''">
            AND CC.집합자원ID = #{집합자원ID}
        </if>
        <if test="'집합자원구분' != null and '집합자원구분' !=''">
            AND CC.집합자원구분 = #{집합자원구분}
        </if>
        <if test="'운영상태' != null and '운영상태' !=''">
            AND CC.운영상태 = #{운영상태}
        </if>
        <if test="'집합자원그룹명' != null and '집합자원그룹명' !=''">
            AND CC.집합자원그룹명 LIKE CONCAT('%',#{집합자원그룹명},'%')
        </if>
        <if test="'신청유형' != null and '신청유형' !=''">
            AND CC.신청유형 = #{신청유형}
        </if>
        <if test="'처리상태' != null and '처리상태' !=''">
            AND CC.처리상태 = #{처리상태}
        </if>
        <if test="'오차율평가' != null and '오차율평가' !=''">
            AND CC.오차율평가 = #{오차율평가}
        </if>
        ORDER BY CC.집합자원ID
        LIMIT #{페이지번호},#{행갯수}
    </select>
    <select id="getClcRsrListCnt" parameterType="hashMap" resultType="int">
        SELECT
          COUNT(*) AS cnt
        FROM(SELECT
                A.id AS 집합자원ID
                ,A.agency_id AS 중개사업자ID
                ,A.name AS 집합자원그룹명
                ,A.type AS 집합자원구분
                ,A.status AS 운영상태
                ,A.apply_type AS 신청유형
                ,A.apply_status AS 처리상태
                ,B.resource_cnt AS 구성수
                ,B.capacity AS 자원용량
                ,B.capacityPvWt AS PVWT용량
                ,B.ess_capacity AS ESS용량
                ,C.error_rate AS 평균오차율
                ,'' AS 오차율평가
                ,'' AS 거래가능기간
                ,A.created_at AS 신청일자
            FROM resource_set A
                LEFT OUTER JOIN ( SELECT
                                    AA.resource_set_id
                                    ,COUNT(resource_id) AS  resource_cnt
                                    ,(SUM(BB.capacity)+SUM(ess_capacity))  AS capacity
                                    ,CASE WHEN BB.facility_type ='01' OR BB.facility_type = '02' THEN SUM(BB.capacity) END AS capacityPvWt
                                    ,SUM(BB.ess_capacity) AS ess_capacity
                                FROM resource_set_list AA
                                LEFT OUTER JOIN resource BB ON AA.resource_id = BB.id  GROUP BY AA.resource_set_id) B ON A.id = B.resource_set_id
                LEFT OUTER JOIN forecast_by_resource_set C ON A.id = C.resource_set_id
            ) CC
        WHERE 1=1
        AND CC.중개사업자ID = #{중개사업자ID}
        <if test="'집합자원ID' != null and '집합자원ID' !=''">
            AND CC.집합자원ID = #{집합자원ID}
        </if>
        <if test="'집합자원구분' != null and '집합자원구분' !=''">
            AND CC.집합자원구분 = #{집합자원구분}
        </if>
        <if test="'운영상태' != null and '운영상태' !=''">
            AND CC.운영상태 = #{운영상태}
        </if>
        <if test="'집합자원그룹명' != null and '집합자원그룹명' !=''">
            AND CC.집합자원그룹명 LIKE CONCAT('%',#{집합자원그룹명},'%')
        </if>
        <if test="'신청유형' != null and '신청유형' !=''">
            AND CC.신청유형 = #{신청유형}
        </if>
        <if test="'처리상태' != null and '처리상태' !=''">
            AND CC.처리상태 = #{처리상태}
        </if>
        <if test="'오차율평가' != null and '오차율평가' !=''">
            AND CC.오차율평가 = #{오차율평가}
        </if>
    </select>
    <insert id="setClcRsr" parameterType="hashMap">
        INSERT INTO resource_set(
             agency_id
            ,name
            ,status
            ,type
            ,apply_type
            ,apply_status
            ,created_at
            ,created_by
        )VALUES(
               #{중개사업자ID}
               ,#{집합자원그룹명}
               ,#{집합자원구분}
               ,#{운영상태}
               ,#{신청유형}
               ,#{처리상태}
               ,NOW()
               ,#{작성자}
               )
    </insert>

</mapper>