<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vpplab.flow.domain.rsr.RsrDao">
    <select id="getClcRsrList" parameterType="hashMap" resultType="hashMap">
        SELECT
            CC.집합자원ID
            ,CC.중개사업자ID
            ,CC.집합자원그룹명
            ,CC.집합자원구분
            ,CC.운영상태
            ,CC.신청유형
            ,CC.처리상태
            ,CC.구성수
            ,CC.자원용량
            ,CC.PVWT용량
            ,CC.ESS용량
            ,CC.평균오차율
            ,CC.오차율평가
            ,CC.거래가능기간
            ,CC.신청일자
            FROM(SELECT
                    A.id AS 집합자원ID
                    ,A.agency_id AS 중개사업자ID
                    ,A.name AS 집합자원그룹명
                    ,A.type AS 집합자원구분
                    ,A.status AS 운영상태
                    ,A.apply_type AS 신청유형
                    ,A.apply_status AS 처리상태
                    ,B.resource_cnt AS 구성수
                    ,B.capacity AS 자원용량
                    ,B.capacityPvWt AS PVWT용량
                    ,B.ess_capacity AS ESS용량
                    ,C.error_rate AS 평균오차율
                    ,'' AS 오차율평가
                    ,'' AS 거래가능기간
                    ,A.created_at AS 신청일자
                FROM resource_set A
                LEFT OUTER JOIN ( SELECT
                                    AA.resource_set_id
                                    ,COUNT(resource_id) AS  resource_cnt
                                    ,(SUM(BB.capacity)+SUM(ess_capacity))  AS capacity
                                    ,CASE WHEN BB.facility_type ='01' OR BB.facility_type = '02' THEN SUM(BB.capacity) END AS capacityPvWt
                                    ,SUM(BB.ess_capacity) AS ess_capacity
                                FROM resource_set_list AA
                                LEFT OUTER JOIN resource BB ON AA.resource_id = BB.id  GROUP BY AA.resource_set_id) B ON A.id = B.resource_set_id
                LEFT OUTER JOIN forecast_by_resource_set C ON A.id = C.resource_set_id
                ) CC
        WHERE 1=1
        AND CC.중개사업자ID = #{중개사업자ID}
        <if test='id != null and id !=""'>
            AND CC.집합자원ID = #{id}
        </if>
        <if test='type != null and type !=""'>
            AND CC.집합자원구분 = #{type}
        </if>
        <if test='status != null and status !=""'>
            AND CC.운영상태 = #{status}
        </if>
        <if test='name != null and name !=""'>
            AND CC.집합자원그룹명 LIKE CONCAT('%',#{name},'%')
        </if>
        <if test='apply_type != null and apply_type !=""'>
            AND CC.신청유형 = #{apply_type}
        </if>
        <if test='apply_status != null and apply_status !=""'>
            AND CC.처리상태 = #{apply_status}
        </if>
        <if test='error_rate_cd != null and error_rate_cd !=""'>
            AND CC.오차율평가 = #{error_rate_cd}
        </if>
        ORDER BY CC.집합자원ID
        LIMIT #{페이지번호},#{행갯수}
    </select>
    <select id="getClcRsrListCnt" parameterType="hashMap" resultType="int">
        SELECT
          COUNT(*) AS cnt
        FROM(SELECT
                A.id AS 집합자원ID
                ,A.agency_id AS 중개사업자ID
                ,A.name AS 집합자원그룹명
                ,A.type AS 집합자원구분
                ,A.status AS 운영상태
                ,A.apply_type AS 신청유형
                ,A.apply_status AS 처리상태
                ,B.resource_cnt AS 구성수
                ,B.capacity AS 자원용량
                ,B.capacityPvWt AS PVWT용량
                ,B.ess_capacity AS ESS용량
                ,C.error_rate AS 평균오차율
                ,'' AS 오차율평가
                ,'' AS 거래가능기간
                ,A.created_at AS 신청일자
            FROM resource_set A
                LEFT OUTER JOIN ( SELECT
                                    AA.resource_set_id
                                    ,COUNT(resource_id) AS  resource_cnt
                                    ,(SUM(BB.capacity)+SUM(ess_capacity))  AS capacity
                                    ,CASE WHEN BB.facility_type ='01' OR BB.facility_type = '02' THEN SUM(BB.capacity) END AS capacityPvWt
                                    ,SUM(BB.ess_capacity) AS ess_capacity
                                FROM resource_set_list AA
                                LEFT OUTER JOIN resource BB ON AA.resource_id = BB.id  GROUP BY AA.resource_set_id) B ON A.id = B.resource_set_id
                LEFT OUTER JOIN forecast_by_resource_set C ON A.id = C.resource_set_id
            ) CC
        WHERE 1=1
        AND CC.중개사업자ID = #{중개사업자ID}
        <if test='id != null and id !=""'>
            AND CC.집합자원ID = #{id}
        </if>
        <if test='type != null and type !=""'>
            AND CC.집합자원구분 = #{type}
        </if>
        <if test='status != null and status !=""'>
            AND CC.운영상태 = #{status}
        </if>
        <if test='name != null and name !=""'>
            AND CC.집합자원그룹명 LIKE CONCAT('%',#{name},'%')
        </if>
        <if test='apply_type != null and apply_type !=""'>
            AND CC.신청유형 = #{apply_type}
        </if>
        <if test='apply_status != null and apply_status !=""'>
            AND CC.처리상태 = #{apply_status}
        </if>
        <if test='error_rate_cd != null and error_rate_cd !=""'>
            AND CC.오차율평가 = #{error_rate_cd}
        </if>
    </select>
    <insert id="setClcRsr" parameterType="hashMap">
        INSERT INTO resource_set(
             agency_id
            ,name
            ,status
            ,type
            ,apply_type
            ,apply_status
            ,created_at
            ,created_by
        )VALUES(
           #{중개사업자ID}
           ,#{집합자원그룹명}
           ,#{집합자원구분}
           ,#{운영상태}
           ,#{신청유형}
           ,#{처리상태}
           ,NOW()
           ,#{작성자}
       )
    </insert>
<select id="getClcRsrDtl" parameterType="hashMap" resultType="hashMap" >
    SELECT
        A.agency_id AS 중개사업자ID
         ,A.name AS 집합자원그룹명
         ,A.status AS 운영상태
         ,A.apply_type AS 신청유형
         ,A.apply_status AS 처리상태
         ,B.error_rate AS 평균오차율
         ,A.created_at AS 신청일시
    FROM resource_set A
             LEFT OUTER JOIN forecast_by_resource_set B ON A.id = B.resource_set_id
    WHERE A.id= #{집합자원ID}
</select>
<select id="getClcRsrMemoList" parameterType="hashMap" resultType="hashMap" >
    SELECT
        id AS 이벤트ID
        ,type AS 요청구분
        ,requested_at AS 요청일시
        ,requested_name AS 요청자이름
        ,requested_phone AS 요청자전화번호
        ,requested_memo AS 요청자이름
        ,approved_at AS 승인일시
        ,approved_name AS 승인자이름
        ,approved_phone AS 승인자전화번호
        ,approved_memo AS 승인자메모
    FROM event
    WHERE resource_id = #{집합자원ID}
    ORDER BY approved_at
</select>
<update id="setMemo" parameterType="hashMap"  >
    UPDATE event SET
        approved_memo = #{승인자메모}
 WHERE id = #{이벤트ID}
</update>
<update id="setMemoDel" parameterType="hashMap"  >
    DELETE FROM event WHERE  id = #{이벤트ID}
</update>
</mapper>