<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.vpplab.flow.domain.event.EventDao">
    <select id="getEventList" parameterType="hashMap" resultType="hashMap">
        SELECT
            A.id AS 이벤트ID
             ,A.resource_id AS 자원ID
             ,A.type AS 요청구분
             ,A.start_at AS 시작일시
             ,A.end_at AS 종료일시
             ,A.requested_at AS 요청일시
             ,A.requested_name AS 요청자명
             ,A.requested_phone AS 요청자전화번호
             ,A.requested_memo AS 요청자메모
             ,A.approved_at AS 승인일시
             ,A.approved_name AS 승인자명
             ,A.approved_phone AS 승인자전화번호
             ,A.approved_memo AS 승인자메모
             ,A.status AS 처리상태
             ,C.name AS 집합자원그룹명
             ,D.name AS 발전자원명
        FROM event A
                 LEFT OUTER JOIN resource_set_list B ON A.resource_id = B.resource_id
                 LEFT OUTER JOIN resource_set C ON B.resource_set_id = C.id
                 LEFT OUTER JOIN resource D ON A.resource_id = D.id
        WHERE 1=1
        <if test='name != null and name !=""'>
            AND D.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test='requested_name != null and requested_name !=""'>
            AND A.requested_name = #{requested_name}
        </if>
        <if test='requested_phone != null and requested_phone !=""'>
            AND A.requested_phone = #{requested_phone}
        </if>
        <if test='type != null and type !=""'>
            AND A.type = #{type}
        </if>
        <if test='status != null and status !=""'>
            AND A.status = #{status}
        </if>
        <if test='requested_at != null and requested_at !=""'>
            AND DATE_FORMAT(A.requested_at,'%Y%m%d') = DATE_FORMAT(#{requested_at},'%Y%m%d')
        </if>
        <if test='approved_at != null and approved_at !=""'>
            AND DATE_FORMAT(A.approved_at,'%Y%m%d') = DATE_FORMAT(#{approved_at},'%Y%m%d')
        </if>

        ORDER BY A.id
        LIMIT #{페이지번호},#{행갯수}
    </select>
    <select id="getEventListCnt" parameterType="hashMap" resultType="int">
        SELECT
            COUNT(A.id) AS CNT
        FROM event A
                 LEFT OUTER JOIN resource_set_list B ON A.resource_id = B.resource_id
                 LEFT OUTER JOIN resource_set C ON B.resource_set_id = C.id
                 LEFT OUTER JOIN resource D ON A.resource_id = D.id
        WHERE 1=1
        <if test='name != null and name !=""'>
            AND D.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test='requested_name != null and requested_name !=""'>
            AND A.requested_name = #{requested_name}
        </if>
        <if test='requested_phone != null and requested_phone !=""'>
            AND A.requested_phone = #{requested_phone}
        </if>
        <if test='type != null and type !=""'>
            AND A.type = #{type}
        </if>
        <if test='status != null and status !=""'>
            AND A.status = #{status}
        </if>
        <if test='requested_at != null and requested_at !=""'>
            AND DATE_FORMAT(A.requested_at,'%Y%m%d') = DATE_FORMAT(#{requested_at},'%Y%m%d')
        </if>
        <if test='approved_at != null and approved_at !=""'>
            AND DATE_FORMAT(A.approved_at,'%Y%m%d') = DATE_FORMAT(#{approved_at},'%Y%m%d')
        </if>
        ORDER BY A.id
    </select>
    <select id="getEventDtl" parameterType="hashMap" resultType="hashMap">
        SELECT
            A.id AS 이벤트ID
             ,A.resource_id AS 자원ID
             ,A.type AS 요청구분
             ,A.start_at AS 시작일시
             ,A.end_at AS 종료일시
             ,A.requested_at AS 요청일시
             ,A.requested_name AS 요청자명
             ,A.requested_phone AS 요청자전화번호
             ,A.requested_memo AS 요청자메모
             ,A.approved_at AS 승인일시
             ,A.approved_name AS 승인자명
             ,A.approved_phone AS 승인자전화번호
             ,A.approved_memo AS 승인자메모
             ,A.status AS 처리상태
             ,C.name AS 집합자원그룹명
             ,D.name AS 발전자원명
             ,D.id AS 발전자원ID
        FROM event A
                 LEFT OUTER JOIN resource_set_list B ON A.resource_id = B.resource_id
                 LEFT OUTER JOIN resource_set C ON B.resource_set_id = C.id
                 LEFT OUTER JOIN resource D ON A.resource_id = D.id
        WHERE  A.id = #{이벤트ID}
    </select>
    <insert id="setEventSave" parameterType="hashMap">
        INSERT INTO event(
                          id
                         ,resource_id
                         ,type
                         ,start_at
                         ,end_at
                         ,requested_at
                         ,requested_name
                         ,requested_phone
                         ,requested_memo
                         ,approved_at
                         ,approved_name
                         ,approved_phone
                         ,approved_memo
                         ,status
        )VALUES(
                   #{이벤트ID}
               ,#{자원ID}
               ,#{요청구분}
               ,DATE_FORMAT(CONCAT(#{요청일시},#{시작일시},'00'),'%Y%m%d %H:%i:%s')
               ,DATE_FORMAT(CONCAT(#{요청일시},#{종료일시},'00'),'%Y%m%d %H:%i:%s')
               ,DATE_FORMAT(#{요청일시},'%Y%m%d %H:%i:%s')
               ,#{요청자명}
               ,#{요청자전화번호}
               ,#{요청자메모}
               ,DATE_FORMAT(#{승인일시},'%Y%m%d %H:%i:%s')
               ,#{승인자명}
               ,#{승인자전호번호}
               ,#{승인자메모}
               ,#{처리상태}
               ) ON DUPLICATE KEY UPDATE
            resource_id = #{자원ID}
            ,type = #{요청구분}
            ,start_at = DATE_FORMAT(CONCAT(#{요청일시},#{시작일시},'00'),'%Y%m%d %H:%i:%s')
            ,end_at = DATE_FORMAT(CONCAT(#{요청일시},#{종료일시},'00'),'%Y%m%d %H:%i:%s')
            ,requested_at = DATE_FORMAT(#{요청일시},'%Y%m%d %H:%i:%s')
            ,requested_name = #{요청자명}
            ,requested_phone = #{요청자전화번호}
            ,requested_memo = #{요청자메모}
            ,approved_at = DATE_FORMAT(#{승인일시},'%Y%m%d %H:%i:%s')
            ,approved_name = #{승인자명}
            ,approved_phone = #{승인자전호번호}
            ,approved_memo = #{승인자메모}
            ,status = #{처리상태}
    </insert>
</mapper>


